.header{
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f0e3d8;
    position: fixed;
}
.list{
    background-color: #f0e3d8;
    margin-top: 2em;;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    text-decoration: none;
    color:#000;
}
.item{
    background-color: #f0e3d8;
    margin-right: 1.5em;
    font-size: 1.3em;
    font-weight: 400;
    color: #000;
}

.item :hover{
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}